{%extends "master.html"%}

{%block title%}Lista de Aprendices{%endblock%}

{%block content%}
    <h1>Lista de Aprendices</h1>
    <table class="app-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Programa</th>
            </tr>
        </thead>
        <tbody>
            {% for aprendiz in lista_aprendices %}
            <tr>
                <td data-label="ID">{{ aprendiz.id }}</td>
                <td data-label="Nombre">{{ aprendiz.nombre }}</td>
                <td data-label="Apellido">{{ aprendiz.apellido }}</td>
                <td data-label="Correo">{{ aprendiz.correo_electronico }}</td>
                <td data-label="Programa">{{ aprendiz.programa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}