{% extends "master.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
        <section class="hero">
            <h1>Bienvenido a SENA APP</h1>
            <p>Sistema de Gestión de Aprendices del Servicio Nacional de Aprendizaje</p>
            <p style="font-size: 0.9rem; opacity: 0.9;">Administra y consulta la información de los aprendices e instructores de manera eficiente.</p>
            
            <div class="hero-buttons">
                <a href="#" class="btn-white">Ver Aprendices</a>
                <a href="#" class="btn-white">Ver Instructores</a>
                <a href="#" class="btn-white">Ver Programas</a>
                <a href="#" class="btn-white">Ver Cursos</a>
            </div>
        </section>

        <section class="dashboard-grid">
            
            <article class="card">
                <div>
                    <h3>Lista de Aprendices</h3>
                    <p>Consulta todos los aprendices registrados en el sistema.</p>
                    <div class="stats">Total de Aprendices: 27</div>
                </div>
                <a href="#" class="btn-green">Ver Lista</a>
            </article>

            <article class="card">
                <div>
                    <h3>Lista de Instructores</h3>
                    <p>Consulta todos los instructores registrados en el sistema.</p>
                    <div class="stats">Total de Instructores: 8</div>
                </div>
                <a href="#" class="btn-green">Ver Lista</a>
            </article>

            <article class="card">
                <div>
                    <h3>Lista de Programas</h3>
                    <p>Consulta todos los programas registrados en el sistema.</p>
                    <div class="stats">Total de Programas: 5</div>
                </div>
                <a href="#" class="btn-green">Ver Lista</a>
            </article>

            <article class="card">
                <div>
                    <h3>Lista de Cursos</h3>
                    <p>Consulta todos los Cursos registrados en el sistema.</p>
                    <div class="stats">
                        Total de Cursos: 2<br>
                        Cursos Activos: 1
                    </div>
                </div>
                <a href="#" class="btn-green">Ver Lista</a>
            </article>

        </section>
{% endblock %}