{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'mystyles.css' %}" />
</head>
<body>

    <header>
        <div class="header-container">
            <div class="logo">
                <div class="logo-icon"></div> <span>SENA APP</span>
            </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="/admin">Panel Admin</a>
            </nav>
        </div>
    </header>
    
    <main>
        
    {% block content %}
    
    {% endblock %}

    </main>


    <footer>
        <p>© 2025 SENA APP - Sistema de Gestión de Aprendices</p>
    </footer>

</body>
</html>